{% extends 'base.html' %}
{% block title%}Create{%endblock%}

{% block body%}

<form method="POST">
    <h1>Create</h1>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-success">Salvar</button>
    <a class="btn btn-secondary" href="{% url 'list'%}"> Voltar</a>
</form>

{% endblock %}