{% extends 'base.html' %}
{% block title%} Delete {%endblock%}

{% block body%}
    <h1>Realmente deseja deletar {{pessoa.nome}}</h1>
<form method="POST">
     {% csrf_token %}
    <button type="submit" class="btn btn-danger">SIM</button>
    <a class="btn btn-secondary" href="{% url 'list'%}"> Voltar</a>
</form>

{% endblock %}