{% extends 'base.html' %}
{% block title%} List {%endblock%}

{% block body%}
    <h1>Listagem</h1>
<table class="table  table-striped">
    <thead class=" thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col" >Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col" >Idade</th>
            <th scope="col">Deletar</th>
            <th scope="col"><a href=" {% url 'create'%}">Criar Usuário</a></th>
        </tr>
    </thead>
    <tbody>
    {% csrf_token %}
    {% for pessoa in pessoa %}
    <tr>
        <th scope="row" >{{pessoa.id}}</th>
        <td><a href="{% url 'update' pessoa.id %}">{{pessoa.nome}}</a></td>
        <td>{{pessoa.sobrenome}}</td>
        <td>{{pessoa.idade}}</td>
        <td> <a href="{% url 'delete' pessoa.id %}">Deletar</a></td>
    </tr>
    {% endfor%}
    </tbody>
</table>

{% endblock%}